@define-color background #121212;
@define-color color0 #121212;
@define-color color7 #ffffff;
@define-color color9 #87ceeb;
@define-color foreground #ffffff;

* {
  font-size: 16px;
  font-family: "Inter";
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 7px;
  margin: 10px 0 5px 0;
  border-radius: 10px;
  background: rgba(18, 18, 18, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

.modules-left {
  margin-left: 10px;
}

.modules-right {
  margin-right: 10px;
}

tooltip {
  background: @background;
  color: @color7;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

#clock,
#battery,
#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  color: @color7;
  transition: all 0.3s ease;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  color: @color9;
}

#custom-notification {
  padding: 0px 5px;
  color: @color7;
  transition: all 0.3s ease;
}

#workspaces {
  padding: 0px 5px;
}

#workspaces button {
  padding: 0px 2px;
  margin: 0;
  color: rgba(135, 206, 235, 0.4);
  background: transparent;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  color: rgba(135, 206, 235, 0.6);
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.active {
  color: @color9;
  background: transparent;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty {
  color: rgba(255, 255, 255, 0.2);
  background: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
}

#workspaces button.empty:hover {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.empty.active {
  color: @color9;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

#backlight {
  padding: 0px 10px;
  color: @color7;
  transition: all 0.3s ease;
}

#pulseaudio {
  padding: 0px 5px;
  color: @color7;
  transition: all 0.3s ease;
}

#battery.charging {
  color: #26a65b;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    opacity: 0.5;
  }
}

#custom-expand {
  padding: 0px 5px;
  color: @color7;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

#custom-expand:hover {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

#custom-colorpicker {
  padding: 0px 5px;
  color: @color7;
}

#custom-endpoint {
  color: @color7;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
  padding: 0px 5px;
}

#tray menu {
  background: @background;
  color: @color7;
  border-radius: 5px;
}

#tray menu menuitem {
  padding: 5px 10px;
  transition: all 0.3s ease;
}

#tray menu separator {
  background: rgba(255, 255, 255, 0.1);
  margin: 2px 0;
}
